* {
  margin: 0;
}

html {
  background: #e0e0e0;
  color: #606060;
  display: table;
  font: 18px/1.4 sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OSP-DIN';
  src: url('/fonts/osp-din.woff2') format('woff2'),
       url('/fonts/osp-din.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "OSP-DIN";
}

h1 {
  color: rebeccapurple;
  font-size: 1.67em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

a:hover {
  border-bottom: 5px solid orange;
}

a.no-hover:hover {
  border-bottom: none;
}

footer ul {
  margin: 1em auto;
  list-style: none;
}

footer li {
  font-family: "OSP-DIN";
  display: inline-block;
  margin-right: 2em;
}

@media only screen and (max-width: 280px) {

  body,
  main {
    width: 95%;
  }

  h1 {
    font-size: 1.2em;
    margin: 0 0 0.3em;
  }

}
