{% extends "_base.html" %}

{% block styles %}
  p {
    margin: 1em auto;
    width: 280px;
  }
{% endblock %}

{% block content %}

  <h2>Not Found</h2>

  <p>The page you requested could not be found.</p>

{% endblock %}
